// Google font import
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

////////////////
// Variabler //
//////////////

// Brug variablerne i jeres scss med et dollartegn og så navnet (eks. $navn)

// Breakpoints
$break-tablet-portrait: 768px;
$break-tablet-landscape: 900px;
$break-computer: 1200px;

// Farver
$green: #27AE60;
$purple: #9B59B6;
$background: #F3F7FA;

// Tekst farver
$black: #1b1b1b;
$grey-light: #7F8C8D;
$grey-lighter: #ADB7B9;

///////////
// SCSS //
/////////

/* Andreas */